<%= form_with(model: flight_reservation, local: true) do |form| %>
  <% if flight_reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flight_reservation.errors.count, "error") %> prohibited this flight_reservation from being saved:</h2>

      <ul>
      <% flight_reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :flight_id %>
    <%= form.number_field :flight_id %>
  </div>

  <div class="field">
    <%= form.label :seat_id %>
    <%= form.text_area :seat_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
